@mainColor: #76c7c0;
// @mainDarkenColor: darken(@mainColor, 30%);
@accentColor: #e8645a;
// @accentDarkenColor: darken(@accentColor, 30%);
@disabledColor: #98a3a3;
// @disabledDarkenColor: darken(@disabledColor, 30%);
@neutralColor: #7f8c8c;

@fontColor: #7f8c8c;

@bgColor: #f3f3f3;
// @bgDarkenColor: darken(@bgColor, 50%);

// @bodyDarkenBgColor: darken(@bodyBgColor, 30%);


.borderBottom(@color, @percentage) {
  border-bottom: 3px solid darken(@color, @percentage);
};
.br() {
  border-radius: 4px;
}
